<footer class="footer">
        <div class="footer-container container">
          <div class="footer-main">
            <div class="footer-nav">
              <a href="./index.html" class="footer-logo"
                ><img
                  src="/img/company-logo.svg"
                  alt="booksy-logo"
                  class="footer-logo-image"
              /></a>
              <ul class="footer-list">
                <li class="footer-list-item"><a class="footer-anchor-link" href="#home">Home</a></li>
                <li class="footer-list-item"><a class="footer-anchor-link" href="#books">Books</a></li>
                <li class="footer-list-item"><a class="footer-anchor-link" href="#feedback">Feedback</a></li>
                <li class="footer-list-item"><a class="footer-anchor-link" href="#location">Location</a></li>
              </ul>
            </div>
             
            <form class="footer-form" id="formFooter" novalidate>
                <p class="footer-form-join">Join</p>
                <div class="footer-form-container">
                 
            <input
              type="email"
              class="footer-input footer-item"
              id="footerMail"
              name="email"
              
              placeholder="Enter your email"
              required
              
     
            />
                 
          
          <button type="submit" class="footer-btn">Sign up</button></div>
               
                
              <p class="footer-form-text">* Required field</p>
            
            </form>
   
            </div>
        <div class="copyrigth-content"><p class="footer-copyrigth-text">&copy; 2025 Booksy. All rights reserved.</p></div>
      </footer>
      <!-- <script src="https://cdn.jsdelivr.net/npm/easy-toast@1.0.5/dist/easy-toast.min.js"></script> -->
      
